@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  margin: 0px;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

body::-webkit-scrollbar-thumb:active {
  background: transparent;
}
